1. Escreva um programa que imprima o seguinte padrão.

![image.png]()

In [ ]:
for i in range(1,8,1):
  print("* " * (4 - abs(i-4)))

*
* *
* * *
* * * *
* * *
* *
*

2. Altere o programa acima para que o usuário possa entrar com o número máximo de estrelas.

In [ ]:
estrela_max = int(input('Digite o número máximo de estrelas: '))
print("")

#Definir Quantas Linhas
estoque = estrela_max - 1
linhas = 1
estr_nec = 3

#Encontrando oa quantidade de linhas
while estoque >= estr_nec:
  linhas += 2
  estoque -= estr_nec
  estr_nec += 2

linhas += 1
a = int((linhas)/2)

for i in range(1,linhas,1):
  b = int(abs(i-(linhas)/2))
  print("* " * (a - b))

print("")
print("Sobaram ", estoque, " estrelas")

Digite o número máximo de estrelas: 50

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

Sobaram  1  estrelas

3. Escreva um programa que corre os números de 23 a 83 e imprime. Mas, quando for múltiplo
de três, imprima ‘Pum’, quando for múltiplo de 5 imprima ‘Bla’, quando for de ambos
imprima ‘PumBla’.

In [ ]:
for i in range(23,84,1):
  if i % 3 == 0 and i % 5 == 0:
    print (i, "PumBla")
  elif i % 3 == 0:
    print (i, "Pum")
  elif i % 5 == 0:
    print (i, "Bla")
  else: 
    print(i)

23
24 Pum
25 Bla
26
27 Pum
28
29
30 PumBla
31
32
33 Pum
34
35 Bla
36 Pum
37
38
39 Pum
40 Bla
41
42 Pum
43
44
45 PumBla
46
47
48 Pum
49
50 Bla
51 Pum
52
53
54 Pum
55 Bla
56
57 Pum
58
59
60 PumBla
61
62
63 Pum
64
65 Bla
66 Pum
67
68
69 Pum
70 Bla
71
72 Pum
73
74
75 PumBla
76
77
78 Pum
79
80 Bla
81 Pum
82
83

4. Escreva um programa que ache e imprima os números divisíveis por 13 e por 19, entre o ano
de nascimento da sua mãe e 2727.

In [ ]:
ano_mae = int(input('Digite o ano e nascimento de sua mãe: '))
print ("")

div_13 = []
div_19 = []

for i in range(ano_mae,2727,1):
  if i % 13 == 0:
    div_13.append(i)
  if i % 19 == 0:
    div_19.append(i)

print ("Entre o nascimento de sua mãe (",ano_mae,") e 2727:")
print ("os anos abaixo são divisíveis por 13")
print (div_13)
print ("")
print ("os anos abaixo são divisíveis por 19")
print (div_19)

Digite o ano e nascimento de sua mãe: 1958

Entre o nascimento de sua mãe ( 1958 ) e 2727:
os anos abaixo são divisíveis por 13
[1963, 1976, 1989, 2002, 2015, 2028, 2041, 2054, 2067, 2080, 2093, 2106, 2119, 2132, 2145, 2158, 2171, 2184, 2197, 2210, 2223, 2236, 2249, 2262, 2275, 2288, 2301, 2314, 2327, 2340, 2353, 2366, 2379, 2392, 2405, 2418, 2431, 2444, 2457, 2470, 2483, 2496, 2509, 2522, 2535, 2548, 2561, 2574, 2587, 2600, 2613, 2626, 2639, 2652, 2665, 2678, 2691, 2704, 2717]

os anos abaixo são divisíveis por 19
[1976, 1995, 2014, 2033, 2052, 2071, 2090, 2109, 2128, 2147, 2166, 2185, 2204, 2223, 2242, 2261, 2280, 2299, 2318, 2337, 2356, 2375, 2394, 2413, 2432, 2451, 2470, 2489, 2508, 2527, 2546, 2565, 2584, 2603, 2622, 2641, 2660, 2679, 2698, 2717]

5. Escreva um programa que recebe uma letra e identifica se ela é consoante.

In [ ]:
letra = input('Digite uma letra: ')

vogal = ["a","e","i","o","u"]

if letra in vogal:
  print("A letra digitada é uma vogal!")
else:
  print("A letra digitada é uma consoante!")

Digite uma letra: b
A letra digitada é uma consoante!

6. Escreva um programa que conte o número de letras de uma string e retorne e imprima o
valor multiplicado por 10.

In [ ]:
frase = input('Digite uma frase: ')
tamanho = len(frase) 

print(" O número de letras da frase é:", tamanho)
print(" O número de letras da frase multiplicado por 10 é:", tamanho * 10)

Digite uma frase: Eu gosto de comer pizza!
 O número de letras da frase é: 24
 O número de letras da frase multiplicado por 10 é: 240

7. Escreva um programa que, dada uma lista de números [-2, 34, 5, 10, 5, 4, 32] qualquer, retorne: o primeiro valor, o número de valores, o último valor, a soma, a média e a mediana.
*Obs. Para listas com tamanho ímpar, a mediana é o valor do meio, quando ordenada (sorted()). Para listas pares, retorne os dois valores do meio.

In [ ]:
lista = [-2, 34, 5, 10, 5, 4, 32] 
lista_s = sorted(lista)

print ("O primeiro número da lista é:", lista[0])
print ("O número de elementos na lista é:", len(lista))
print ("O último valor da lista é:", lista[len(lista)-1])
print ("A soma dos valores da lista é:", sum(lista))
print ("A média da lista é: %2.2f" % (sum(lista)/len(lista)))

#calculo da Mediana
if len(lista_s) % 2 != 0: 
  num_med = int((len(lista_s)+1)/2)
  mediana = lista_s[num_med]
else:
  num_med = int((len(lista))/2)
  mediana = (lista[num_med]+lista[num_med+1])/2
  
print ("A mediana da lista é:", mediana)

O primeiro número da lista é: -2
O número de elementos na lista é: 7
O último valor da lista é: 32
A soma dos valores da lista é: 88
A média da lista é: 12.57
A mediana da lista é: 10

8. Dicionários. Dado o dicionário: d = {‘a’: 0}: faça programas que:
1 acrescente um par (chave, valor) {‘b’: 1}, ao dicionário;
2 verifique se a key ‘c’ está presente?
3 Concatene um dicionário a um outro dicionário: e = {z : 23}. Use o método
‘update’!

In [ ]:
#fazendo o dicionário 
d = {'a':0}
print("8. Esse é o dicionário d:", d)

#Acrescentando a informação pedida
d["b"] = 1
print("8.1. Acrescentando a informação [b:1]:", d)

#Verificando se "c" existe
print("8.2. Consultando se a chave c está no dicionário?", 'c' in d)

# Definindo o dicionario e: e concatenando
e = {'z':23}
d.update(e)
print ("8.3. Acrescentando o dicionário e ao dicionário d:",d)

Esse é o dicionário d: {'a': 0}
1.Acrescentando a informação [b:1]: {'a': 0, 'b': 1}
2.Consultando se a chave c está no dicionário? False
3.Acrescentando o dicionário e ao dicionário d: {'a': 0, 'b': 1, 'z': 23}

9. Escreva uma função que faz um loop sobre as keys de um dicionário. Se as keys forem
vogais, eleve o valor ao quadrado. Caso contrário, set o valor para 0. Use if k in ‘aeiou’.

In [ ]:
def funcao_quest_9 (dicionario):
  for each in dicionario:
    if each in 'aeiou':
      dicionario[each] = dicionario[each] ** 2
    else:
      dicionario[each] = 0

  print (dicionario)
#------------------------------------------------------------------------------------------------------#
dic_quest9 = {'a': 15, 'b': 1, 'x': 4, 'y': 3, 'u': 15, 'e': 20, 'f': 12, 'b': 51,'g': 7, 'z': 23}
funcao_quest_9 (dic_quest9)

{'a': 225, 'b': 0, 'x': 0, 'y': 0, 'u': 225, 'e': 400, 'f': 0, 'g': 0, 'z': 0}

10. Escreva uma função que retorna os máximos e mínimos de um dicionário.

In [ ]:
def funcao_quest_10 (dicionario):
  maximo = 0
  minimo = 0

  for each in dicionario:
    if dicionario[each] > maximo:
      maximo = dicionario[each]
    elif dicionario[each] > minimo: 
      minimo = dicionario[each]

  print ("O valor mínimo da função seria:", minimo)
  print ("O valor máximo da função seria:", maximo)
#------------------------------------------------------------------------------------------------------#

dic_quest10 = {'a': 15, 'b': 1, 'x': 4, 'y': 3, 'u': 15, 'e': 20, 'f': 12, 'b': 51,'g': 7, 'z': 23}
funcao_quest_10 (dic_quest10)

O valor mínimo da função seria: 23
O valor máximo da função seria: 51

11. Escreva uma função que recebe uma lista e organiza os valores em keys e conta a frequência de cada uma. Por exemplo: a lista [0, 0, 1, 1, 1, 2, 5], resultaria em: {1: 3, 0: 2, 2: 1, 5: 1}. 
OBS: Esse dicionário da questão não está ordenado, por isso deu diferente.

In [ ]:
def funcao_quest_11 (lista):
  lista.sort
  dicionario = dict()
  for each in lista:
    dicionario[each] = dicionario.get(each, 0) + 1
  print (dicionario)
#------------------------------------------------------------------------------------------------------#

lista_11 =  [0, 0, 1, 1, 1, 2, 5]
funcao_quest_11 (lista_11)

{0: 2, 1: 3, 2: 1, 5: 1}

12. Escreva uma função que liste todos os números primos até 258 (mais o dia do seu aniversário). Utilize a divisão modular (%).

In [ ]:
def funcao_quest_12 (dia):
  primos = [2]
  contador = 0 
  numero_final = 258 + dia
  for i in range (2, numero_final):
    for each in primos:
      if i % each == 0:
        contador = 1
    if contador != 1:
      primos.append(i)

    contador = 0 

  primos.append(1)
  primos.append(dia)
  primos.sort()

  print ("Os números primos entre até 258 +", dia, "(", numero_final, ") e o dia do seu aniversário estão na lista abaixo:")
  print (primos)
#------------------------------------------------------------------------------------------------------#
dia = int(input('Digite o dia do seu aniversário: '))
funcao_quest_12 (dia)

Digite o dia do seu aniversário: 30
Os números primos entre até 258 + 30 ( 288 ) e o dia do seu aniversário estão na lista abaixo:
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 30, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283]

13. Escreva um programa que substitua ‘,’ por ‘.’ e ‘.’ por ‘,’ em uma string. Exemplo: 1,000.54
por 1.000,54.

In [ ]:
a = "1,000.54"
a.replace(",", "*").replace (".", ",").replace ("*", ".")

'1.000,54'

14. Escreva um programa que verifica se todas as letras do alfabeto constam no mínimo uma vez do parágrafo fornecido pelo usuário.

In [ ]:
def funcao_quest_14 (texto):
  alfabeto = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]
  ncontem = []
  contem = []
  for each in alfabeto:
    if each in texto:
      contem.append (each)
    else:
      ncontem.append (each)
    
  print ("")
  print ("As letras abaixo estao presentes no texto digitado")
  print (contem)
  print ("")
  print ("As letras abaixo não estão presentes no texto digitado")
  print (ncontem)

#------------------------------------------------------------------------------------------------------#
texto = input('Digite um texto: ')
funcao_quest_14 (texto)

Digite um texto: Escreva um programa que verifica se todas as letras do alfabeto constam no mínimo uma vez do parágrafo fornecido pelo usuário.

As letras abaixo estao presentes no texto digitado
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'i', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'z']

As letras abaixo não estão presentes no texto digitado
['h', 'j', 'k', 'w', 'x', 'y']